{
  "extends": ["airbnb", "airbnb/hooks", "airbnb/whitespace", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": ["error", "unix"]
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
